<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.demo.mapper.MenuMapper">

    <select id="selectTotal" resultType="int">
        select count(*) from sys_menu
    </select>
    <!--    查询所有-->
    <select id="findAll" resultType="com.example.springboot.demo.pojo.Menu">
        select * from sys_menu
    </select>

    <select id="selectPages" resultType="com.example.springboot.demo.pojo.Menu">
        select * from sys_menu where name like concat('%',#{name},'%') limit #{pageNum},#{pageSize}
    </select>
    <!--    新增-->
    <insert id="insertMenu" >
        insert into sys_menu(name,path,icon,description,) values(#{name},#{path},#{icon},#{description})
    </insert>

    <delete id="deleteById">
        delete from sys_menu where id=#{id}
    </delete>

    <update id="updateMenu">
        update sys_menu
        <set>
            <if test="name!=null ">
                name=#{name},
            </if>
            <if test="path!=null ">
                path=#{path},
            </if>
            <if test="icon!=null ">
                icon=#{icon},
            </if>
            <!--            <if test="password!=null ">-->
            <!--                password=#{password}-->
            <!--            </if>-->
            <if test="description!=null ">
                description=#{description},
            </if>
        </set>
        <where>
            id=#{id}
        </where>
    </update>
</mapper>
